*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-family: sans-serif;
}
body {
	overflow-x: hidden;
}

.demo{
	width: 100px;
	height: 100px;
	background-color: gray;
	display: inline-block;
	margin: 10px;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}
